.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $brand-main-color;
  color: $text-color-light;
  border-radius: 3px;
  padding: 0 10px;
  min-height: 40px;
  min-width: 40px;
  text-decoration: none;
  margin-left: 10px;
}
